section {
  display: block;
  overflow: auto;
  width: 100%;
  text-align: center;
  min-height: 100vh;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
  color: lightgray;
  width: 100%;
  height: 100%;
}

.page-section {
  text-align: center;
  /*position: relative;*/

  top: 5%;
  color: white;
}

.spacer {
  height: 50px;
  ;
}

.subheading {
  font-size: 3em;
  color: lightgray;
}

.sectiontext {
  font-size: 1.5em;
  color: lightgray;
}


a {
	color: grey;
}

a:link {
    text-decoration: none;
}

a:hover {
	color: white;
}

.semi-opaque-box {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  color: lightgray;
  text-align: left;
  min-height: 300px;
}

.my-face {
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
}

.centered {
  text-align: center;
  width: 100%;
}

#home {
  background: url(./mountain.jpg) no-repeat center center fixed;
  background-size: cover;
}

#about {
  background: url(./trails.jpg) no-repeat center center fixed;
  background-size: cover;
}

#work {
  background: url(./tree.jpg) no-repeat center center fixed;
  background-size: cover;
}

#projects {
  background: url(./sanjay.jpg) no-repeat center center fixed;
  background-size: cover;
}


#interests {
  background: url(./heart.jpg) no-repeat center center fixed;
  background-size: cover;
}


#contact {
  background: url(./club.jpg) no-repeat center center fixed;
  background-size: cover;
}

.btn {
  transition: padding 0.2s, margin 0.2s, background-color 0.2s, color 0.2s;
  margin: 4px;
  padding: 10px;
  background-color: silver;
  color: black;
  border-color: black;
  border-width: 2px;
  opacity: 1;
}

.btn:hover {
  margin: 0px;
  padding: 14px;
  background-color: black;
  color: white;
  border-color: black;
  opacity: 0.8;
}
